a {
  text-decoration: underline;
  color: #333;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

code {
  font-size: 1rem;
}

ul {
  margin-top: 0.25rem;
  padding-left: 1rem;
}

.katex {
  font-size: 1em;
}
