/* Typography */

body {
  font-size: 1.08em;
}

a {
  text-decoration: underline;
  color: #333;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

code {
  font-family: 'Courier Next', courier, monospace;
  font-size: 0.9rem;
}

.katex {
  font-size: 1em;
}

#post-content h1 {
  font-size: 1.5rem;
}


/* Lists */

ul {
  margin-top: 0.25rem;
  padding-left: 1rem;
}


/* Images */

img {
  border-radius: 0.5rem;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}


/* Sticky */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}


/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 1rem;
}

th {
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding: 0.75rem;

}

tr {
  background-color: #eee;
}

tbody > tr:nth-child(odd) {
  background-color: #fff;
}

thead > tr {
  background-color: #eee;
}

td {
  padding: 0.75rem;
}
