/* Typography */

body {
  font-size: 1.08em;
  background-image: url(/assets/backgrounds/geometry.png);
}

a {
  text-decoration: underline;
  /* light green #19a974
     dark green  #137752
     light blue  #357edd
     dark blue   #00449e
     orange      #ff6300 */
  color: #137752;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

code {
  font-family: 'Courier Next', courier, monospace;
  font-size: 0.9rem;
}

.footnote-ref sup {
  font-weight: bold;
  font-size: 1em;
  padding: 0px 3px;
}

span.math {
  font-family: monospace;
}

.katex {
  font-size: 1em;
}

#post-content h1 {
  font-size: 1.5rem;
}

#post-content h2 {
  font-size: 1.25rem;
}

#post-content h3 {
  font-size: 1.1rem;
}

.tag-list {
  font-family: 'Courier Next', courier, monospace;
  font-size: 0.9rem;
}


/* Lists */

ul {
  margin-top: 0.25rem;
  padding-left: 1rem;
}


/* Images */

figure {
  margin-left: -10%;
  width: 120%;
}

figure img {
  border-radius: 0.5rem;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}


/* Sticky */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}


/* Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 1rem;
}

th {
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding: 0.75rem;

}

tr {
  background-color: #eee;
}

tbody > tr:nth-child(odd) {
  background-color: #fff;
}

thead > tr {
  background-color: #eee;
}

td {
  padding: 0.75rem;
}

/* Dark mode */

.dark, .dark * {
    background-color: #222;
    color: #e6e6e6;
}
