/* Typography */

body {
  /*background-image: url(/assets/backgrounds/geometry.png);*/
  font-size: 0.95rem;
}

a {
  text-decoration: underline;
  color: #137752;
}

a:hover {
  /*color: #fff;*/
  /*background: #137752;*/
  background: #999;
}

#main strong {
  font-weight: 550;
}

#header span.active {
  color: #137752;
  font-size: 1.25rem;
  border-bottom: 2px solid #137752;
}

.link:hover {
  color: #137752;
  background: none;
  border-bottom: 2px dashed #137752;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 1.25rem;
}

a code {
  font-family: 'Courier Next', courier, monospace;
  font-size: 1em;
}

.title {
  font-weight: 500;
}



/* Lists */

#main ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  list-style-type: circle;
}

#main ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

#main li {
  padding-bottom: 0.5rem;
}

.tag-list {
  font-family: 'Courier Next', courier, monospace;
  font-size: 0.9rem;
}



/* In posts */

    #post-content strong {
      font-weight: 550;
    }

    #post-content code {
      font-size: 0.95em;
    }

    #post-content li p {
      margin-top: 0px;
      margin-bottom: 0.5rem;
    }

    /* Colour select */

    ul#colour-select {
      padding-left: 0px;
      margin: 0px;
    }

    /* Table of contents */

    ol#toc {
      width: 80%;
      position: relative;
      left: 10%;
      margin-bottom: -0.4rem;
    }

    .toc-back {
      font-size: 1.5rem;
      text-decoration: none;
      border-bottom: 1px solid #137752;
      padding: 0px 5px;
      margin-right: -30px;
      float: left;
      position: relative;
      top: -58px;
      right: 30px;
    }

    /* Footnotes */

    .footnote-ref {
      text-decoration: underline;
      font-weight: bold;
    }

    .footnote-ref:hover {
      color: #137752;
      background: none;
    }

    .footnote-ref sup {
      padding: 0px 3px;
      margin-right: -2px;
    }

    .footnote-ref sup:hover {
      color: #fff;
      background: #137752;
    }

    .footnotes {
      font-size: 0.85rem;
      margin-top: 30px;
    }

    .footnotes ol li {
      /*color: #137752;*/
      font-weight: 550;
    }

    .footnotes ol li p {
      /*color: #000;*/
      font-weight: 400;
      margin: 0px;
    }

    .footnote-back {
      font-size: 0.8rem;
      text-decoration: underline;
      padding: 0 3px;
      margin-left: 5px;
    }

    /* Headings */

    #post-content h1 {
      font-size: 1.5rem;
      font-weight: 550;
    }

    #post-content h2 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    #post-content h3 {
      font-size: 1.1rem;
      font-weight: 500;
    }

    /* Maths */

    span.math {
      font-family: monospace;
    }

    #post-content .katex {
      font-size: 1.1em;
    }

    #post-content .fleqn {
      padding-left: 3em;
    }

    /* Images */

    figure {
      text-align: center;
      width: 100%;
      margin: 0;
    }

    figure img {
      border-radius: 0.5rem;
      padding: 1px;
      border-style: solid;
      border-width: 1px;
      border-color: #aaa;
    }

    figure figcaption {
      text-align: center;
      font-style: italic;
    }

    /* Tables */

    table {
      width: 100%;
      /*margin-left: auto;
      margin-right: auto;*/
      font-size: 0.9rem;
      border-collapse: collapse;
      border-spacing: 0;
      border-style: solid;
      border-width: 2px;
      border-color: #aaa;
      border-radius: 1rem;
    }

    th {
      font-weight: 600;
      /*text-transform: uppercase;*/
      text-align: center;
      padding: 0.75rem;

    }

    tr {
      text-align: left;
      background-color: #eee;
    }

    tr.header {
      background-color: #fff;
      border-bottom: 2px #333 solid;
    }

    tbody > tr:nth-child(even) {
      background-color: #fff;
    }

    td {
      padding: 0.75rem;
    }



/* Tiny calendars */

.calendar {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}



/* Sticky */

/*.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}*/
