#!/usr/bin/env ruby

# for each tag, make an item (sort of like an imaginary file) called
# /blog/tags/tagname
preprocess do
  tags = @items.map { |i| i[:tags] }.flatten.uniq
  tags.each do |tag|
    next unless tag
    content = ''
    attributes = { tag: tag }
    identifier = "/blog/tags/#{tag}"

    @items.create(content, attributes, identifier)
  end
end

# make pages for each 'imaginary tag file' that we made in the preprocessing
compile '/blog/tags/*' do
  layout '/Tags.*'
  write "/blog/tags/#{item.identifier.to_s.split('/')[-1]}/index.html"
end

# take the /content/index.hmtl file and filter it with erubis (passing it
# through /layouts/default.*) and make a file /index.html in the output
# directory
compile '/index.html' do
  filter :erubis
  layout '/Default.*'
  write '/index.html'
end

# take all other other .html files in /content and filter them with erubis
# (passing them through /layouts/default.*) and make a file /filename/index.html
# in the output directory (so that we can go to e.g. website.com/projects
# instead of having to go to website.com/projects.html)
compile '/**/*.html' do
  filter :erubis
  layout '/Default.*'
  write item.identifier.without_ext + '/index.html'
end

# take all the .md files in /blog and filter them with pandoc, using the katex
# parser (which doesn't actually really do much, alas) (passing them through
# /layouts/post.*) and making a file /blog/y/m/d/name.html, where y, m, d, and
# name all come from the title of the file
compile '/blog/*.md' do
  filter :pandoc, args: [
    :katex,
  ]
  layout '/Post.*'
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+).md/
               .match(item.identifier).captures
  write "/blog/#{y}/#{m}/#{d}/#{slug}.html"
end

# any files in /content left untouched? just copy them over the the output
# directory exactly as they are
passthrough '/**/*'

# any layout that we haven't explicitly mentioned above should also be parsed
# with erubis (assuming that all our layouts are erubis files!)
layout '/**/*', :erubis
