/* |--------| */
/* | Papers | */
/* |--------| */

.citation {
  .author{
    &:after { content: '.'; }
  }

  .title {
    font-weight: 400;
    &:before { content: '"'; }
    &:after { content: '".'; }
  }

  .journal {
    font-style: italic;
  }

  .volume {
    font-weight: 600;
  }

  .year{
    &:before { content: '('; }
    &:after { content: ')'; }
  }

  .pages {
    /*&:before { content: 'pp. '; }*/
    &:after { content: '.'; }
  }

  .doi {
    &:before { content: 'DOI: '; }
    a { font-weight: 400; }
  }

  .arxiv {
    &:before { content: 'arXiv: '; }
    a { font-weight: 400; }
  }

  .hal {
    &:before { content: 'HAL: '; }
    a { font-weight: 400; }
  }
}

.spacious-citations {
  .citation {
    .title {
      display: block;
      &:after { content: '"'; }
    }

    .author {
      display: block;
      &:after { content: ''; }
    }

    .pages {
      &:after { content: ''; }
    }
  }
}


/* |-------| */
/* | Books | */
/* |-------| */

.book {
  .author {
    &:after { content: '.'; }
  }

  .title {
    font-style: italic;
    &:after { content: '.'; }
  }

  .publisher {
    &:after { content: ','; }
  }

  .volume {
    font-weight: 600;
  }

  .year {
    &:before { content: '('; }
    &:after { content: ').'; }
  }
}
