@import url("fonts/fonts.css");
@import url("citations.css");

:root {
  --primary: #af7350;
  --off-white: #fcfbf8;

  --main-font-family: 'IM Fell DW Pica', serif;
  --main-font-size: 1.1rem;

  --header-font-family: 'IM Fell DW Pica', serif;
  --h1-font-size: 1.4rm;

  --monospace-font: 1rem 'Maple Mono', monospace;
}

/* ========== */
/* Typography */
/* ========== */

body {
  font-family: 'Vollkorn';
  background-color: var(--off-white);
}

content {
  font-size: var(--main-font-size);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
  }

  strong {
    font-weight: 550;
  }

  p {
    line-height: 1.3;
  }

  code,
  a code {
    font: var(--monospace-font);
  }

  article .katex {
    font-size: 1em;
  }
}


/* ======= */
/* Nav bar */
/* ======= */

#top_navigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .active {
    color: var(--primary);
    border: 2px solid transparent;
    border-bottom: 2px solid var(--primary);
  }

  .navigation_link {
    text-decoration: none;
    border: 2px solid transparent;
  }
  .navigation_link:hover {
    color: var(--primary);
    background: none;
    border: 2px solid transparent;
    border-bottom: 2px dashed var(--primary);
  }
}


/* ===== */
/* Links */
/* ===== */

a {
  text-decoration: underline;
  color: var(--primary);
  border: 1px solid transparent;
}

a:hover {
  border: 1px dashed var(--primary);
}


/* ========== */
/* Blog posts */
/* ========== */

.tag-list {
  font: var(--monospace-font);

  a {
    text-decoration: none;
  }
}
