@import url("fonts/fonts.css");
@import url("citations.css");

:root {
  --page-width: 900px;

  --primary: #af7350;
  --off-white: #fcfbf8;

  --main-font-family: 'Vollkorn', serif;
  --main-font-size: 1.2rem;

  --line-height: 1.35;

  --header-font-family: 'IM Fell DW Pica', serif;
  --h1-font: 1.7em var(--header-font-family);
  --h2-font: 1.5em var(--header-font-family);
  --h3-font: italic 1.3em var(--header-font-family);
  --h4-font: 1.2em var(--header-font-family);

  --monospace-font-family: 'Maple Mono', monospace;
  --monospace-font: 0.825em var(--monospace-font-family);
}



/*
    __                            __
   / /   ____ ___  ______  __  __/ /_
  / /   / __ `/ / / / __ \/ / / / __/
 / /___/ /_/ / /_/ / /_/ / /_/ / /_
/_____/\__,_/\__, /\____/\__,_/\__/
            /____/
*/


/* |------------------| */
/* | LAYOUT / General | */
/* |------------------| */

body {
  margin: 2em auto;
  max-width: var(--page-width);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--main-font-family);
  background-color: var(--off-white);

  nav {
    width: 100%;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #navigation-name {
      display: flex;
      justify-content: flex-start;
    }

    #navigation-page-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
    }
  }

  content {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}


@media screen and (width <= 900px) {
  body {
    margin-top: 1.5rem;
    margin-left: 2rem;
    align-items: flex-start;

    nav {
      padding-top: 0;
      width: auto;
      flex-direction: column;
      gap: 1em;

      #navigation-page-links {
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }
}


/* |--------------------| */
/* | LAYOUT / Home page | */
/* |--------------------| */

#about-me-postcard {
  margin: 1em 0;

  display: flex;

  flex-direction: row;
  justify-content: space-around;
  
  #about-me-photo {
    img {
      max-width: 300px;
      aspect-ratio: 1 / 1;
    }
  }

  #about-me-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (width <= 900px) {
  #about-me-postcard {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;

    #about-me-photo {
      order: 1;
    }

    #about-me-text {
      order: 2;
      flex-direction: column;
      gap: 1em;
    }
  }
}



/*
  ______                                         __
 /_  __/_  ______  ____  ____ __________ _____  / /_  __  __
  / / / / / / __ \/ __ \/ __ `/ ___/ __ `/ __ \/ __ \/ / / /
 / / / /_/ / /_/ / /_/ / /_/ / /  / /_/ / /_/ / / / / /_/ /
/_/  \__, / .___/\____/\__, /_/   \__,_/ .___/_/ /_/\__, /
    /____/_/          /____/          /_/          /____/
*/


/* |----------------------| */
/* | TYPOGRAPHY / General | */
/* |----------------------| */

content {
  line-height: var(--line-height);
  font-size: var(--main-font-size);

  hr {
    width: 100%;
    color: black;
  }

  h1 {
    font: var(--h1-font);
  }
  h2 {
    font: var(--h2-font);
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid black;
  }
  h3 {
    font: var(--h3-font);
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }
  h4 {
    font: var(--h4-font);
    margin-top: 0.5em;
    margin-bottom: 0.25em;
  }

  .subtitle {
    margin-top: 0;
    padding-top: 0;
  }

  strong {
    font-weight: 600;
  }

  p {
    margin: 0.5em 0;
  }

  ol, ul {
    margin: 0;

    li {
      margin: 1em 0;
    }
  }

  a {
    color: var(--primary);
    text-decoration: underline;
    border: 1px solid transparent;
  }
  a:hover {
    border: 1px dashed var(--primary);
  }

  .subtle-link {
    color: black;
  }

  code {
    font: var(--monospace-font);
  }
}

#top-navigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span.active,
  a.navigation-link {
    color: var(--primary);
    font: var(--h2-font);
  }

  .active {
    border-bottom: 2px solid var(--primary);
  }

  .navigation-link {
    text-decoration: none;
  }
  .navigation-link:hover {
    border-bottom: 2px dashed var(--primary);
  }
}


@media screen and (width <= 900px) {
  body {
    nav {
      .active,
      .navigation-link {
        border: 2px solid transparent;
      }

      .active {
        padding: 0 0.25em;
        border-left: 2px solid var(--primary);
      }
    }
  }
}


/* |------------------------| */
/* | TYPOGRAPHY / Home page | */
/* |------------------------| */

#about-me-postcard {
  #about-me-text {
    h4 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    ul {
      margin: 0;
      padding-left: 0;
      list-style-type: '* ';
      
      li {
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
    }
  }
}


/* |---------------------------| */
/* | TYPOGRAPHY / Translations | */
/* |---------------------------| */

ul.fancy-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  li {
    margin: 0;
    padding: 0.5em;

    flex-basis: 60%;
    /*flex-grow: 1;*/

    border: 1px solid var(--primary);
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

@media screen and (width <= 900px) {
  ul.fancy-list {
    li {
      flex-basis: 90%;
    }
  }
}


/* |-------------------------| */
/* | TYPOGRAPHY / Blog posts | */
/* |-------------------------| */

.tag-list {
  font: var(--monospace-font);

  a {
    text-decoration: none;
  }
}

article .katex {
  font-size: 1.1em;
}
