---
title: About
katex: false
---

<div class="content">

  <h1>About</h1>

  <h4>What I'm doing</h4>

  <p class="fw5">
    My main job is as Director of UK Operations at the <a href="https://topos.institute">Topos Institute</a>.
  </p>

  <p>
    My mathematical research focuses on approaching complex geometry through the interface of algebraic topology (model categories, homotopy (co)limits, and simplicial/cubical objects) and algebraic geometry (derived categories, deformations, and (co)chain complexes).
    More specifically, with various co-authors, I'm trying to understand the (higher) homotopical structure of (lax) sheaves, with a focus on applications to coherent analytic sheaves on non-algebraic complex manifolds.
  </p>

  <p>
    I also have some ongoing side projects:
  </p>

  <ul>
    <li>
      <a href="https://qubit.guide">qubit.guide</a>
      &mdash;
      an online book about introductory quantum information science, co-authored with <a href="https://www.arturekert.org/home" class="dark_link">Artur Ekert</a>, <a href="http://www.ma.rhul.ac.uk/akay/" class="dark_link">Alastair Kay</a>, and <a href="https://fisica.unipv.it/personale/Persona.php?ID=55" class="dark_link">Chiara Macchiavello</a>.
    </li>
    <li>
      <%= link_to('~/translations', '/translations') %>
      &mdash;
      translations of maths papers into English.
    </li>
    <li>
      <a href="https://thosgood.com/maths-dictionary">~/maths-dictionary</a>
      &mdash;
      an open-source multilingual mathematical dictionary.
    </li>
  </ul>

  <h4>What I've done</h4>

  <ul>
    <li>
      At the end of 2023, I was a visiting researcher at the <a href="https://www.oist.jp/" class="dark_link">Okinawa Institute of Science and Technology</a> working with Artur Ekert on the online introductory resource <a href="https://qubit.guide">qubit.guide</a> for quantum information science.
    </li>
    <li>
      From 2020 to 2023 I was a postdoc: first with <a href="https://www.arturekert.org/home" class="dark_link">Artur Ekert</a> at both the Centre for Quantum Technologies and the University of Oxford; and then with <a href="https://sites.google.com/site/wushijig" class="dark_link">Wushi Goldring</a> at Stockholm University.
    </li>
    <li>
      In 2020, I defended my PhD thesis (<a href="https://tel.archives-ouvertes.fr/tel-02882140">HAL:tel-02882140</a>) at the Université d'Aix-Marseille on the subject of twisting cochains in complex geometry and Chern classes of coherent analytic sheaves, supervised by <a href="http://jgrivaux.perso.math.cnrs.fr/" class="dark_link">Julien Grivaux</a> and <a href="https://imag.umontpellier.fr/~calaque/" class="dark_link">Damien Calaque</a>.
      During the final year of my PhD, I worked as part of the <a href="https://doi.org/10.3030/768679" class="dark_link">DerSympApp</a> project at the Université de Montpellier.
    </li>
    <li>
      In 2016 I graduated with an MMath from the University of Oxford, after having finished my BA in Mathematics there the previous year.
    </li>
  </ul>

  <p>
    For more details, see <%= link_to('~/cv', '/cv') %>.
  </p>

</div>
