---
title: Blog
katex: true
---

<div class="content tj">

  <h1>Blog</h1>

  <p>
    This blog is mainly a haphazard collection of notes about things that I'm in the process of learning, and is only infrequently updated.
    <span class="fw5">There will certainly be mistakes, so <span class="i">caveat lector</span>.</span>
  </p>
  <p>
    If you want, you can subscribe to this blog's <a href="<%= @config[:base_url] %>/blog.xml">RSS feed</a>.
  </p>
  <p>
    Blog post dates are in the format YY/MM/DD.
  </p>
</div>

<div id="blog-archive" class="w-100 mt3">
  <% sorted_articles.each do |post| %>
    <%= render '/components/post_in_list.html.erb', :post => post %>
  <% end %>
</div>
