---
title: About
katex: false
---

<div class="w-third-ns ph3-ns tc w-100">
  <img src="/assets/images/me.jpg" class="mw-100-ns pa1 mb2 br-100 ba b--black-70 mw4">
  <h5>Research interests</h5>
  <p class="f6">Topological methods in algebraic and complex geometry, homotopical structures, translation & accessibility, quantum computing, FOSS, and birds.</p>
</div>

<div class="w-two-thirds-ns ph4-ns w-100 tj">
  <h4 class="mt0">Current position</h4>
  <ul>
    <li>Postdoctoral contractor at the <a href="https://www.quantumlah.org/">Centre for Quantum Technologies</a> under Artur Ekert.</li>
    <li>Research associate at the <a href="https://topos.institute/">Topos Institute</a>.</li>
  </ul>

  <h4>What I'm doing</h4>
  <ul>
    <li>Creating an online introductory course in quantum information science (with Artur Ekert).</li>
    <li>Working on understanding coherent analytic sheaves through simplicial methods (with co-authors).</li>
    <li>
      Translating various maths papers into English.
      <br>
      <a href="https://thosgood.com/translations">thosgood.com/translations</a>
    </li>
    <li>
      Open-sourcing a mathematical dictionary in as many languages as possible.
      <br>
      <a href="https://thosgood.com/maths-dictionary">thosgood.com/maths-dictionary</a>
    </li>
    <li>... more things to appear soon</li>
  </ul>

  <h4>What I've done</h4>
  <p>
    In the summer of 2020, I defended my <a href="https://tel.archives-ouvertes.fr/tel-02882140">PhD thesis</a> at the Université d'Aix-Marseille on the subject of twisting cochains in complex geometry and Chern classes of coherent analytic sheaves.
    After that I worked as part of the <a href="https://damienespadon.wixsite.com/dersympapp">DerSympApp</a> project at the Université de Montpellier.
  </p>
  <p>
    I graduated with an MMath (Mathematics) from the University of Oxford in 2016, after having finished my BA in Mathematics there. Whilst there I wrote <%= link_to('two theses', '/papers') %>.
  </p>
  <p>For more details, see my <%= link_to('CV', '/cv') %>.</p>
</div>
