---
title: About
katex: false
---

<div class="w-third-ns ph3-ns tl w-100">
  <img src="/assets/images/me.jpg" alt="a photo of me with one pigeon on my head and another on my shoulder" class="mw-100-ns pa0 mt3 mb2 br4 ba b--black-70 mw4">

  <h4>Research interests</h4>
  <p class="f6">
    Homotopical methods in complex geometry;
    <br>
    (higher) category theory;
    <br>
    translation & accessibility;
    <br>
    <%= link_to('birds', '/assets/images/birds.png', :class => "no-underline") %>
  </p>

  <h4>Contact</h4>
  <p class="f6">tim.hosgood at gmail dot com</p>
  <p class="f6">
    Timothy Hosgood
    <br>
    Matematiska institutionen
    <br>
    106 91 Stockholm
    <br>
    Sweden
    <br>
    <i>(postcards encouraged)</i>
  </p>
</div>


<div class="w-two-thirds-ns pl4-ns pr3-ns w-100">
  <h4>What I'm doing</h4>
  <ul>
    <li>
      I am a postdoc on <a href="https://sites.google.com/site/wushijig" class="dark_link">Wushi Goldring</a>'s team at Stockholm University.
      My current research mainly focuses on the interplay between holomorphic geometry and simplicial/higher-categorical methods.
    </li>
    <li>
      <a href="https://www.arturekert.org/home" class="dark_link">Artur Ekert</a> and I are creating an online introductory book about quantum information science: <a href="https://qubit.guide">qubit.guide</a>.
    </li>
    <li>
      I work with the <a href="https://topos.institute/" class="dark_link">Topos Institute</a>, co-organising and running the <a href="https://topos.site/topos-colloquium">Topos Institute Colloquium</a>, as well as occasionally writing <a href="https://topos.site/people/tim-hosgood/">some blog posts</a>.
    </li>
    <li>
      In my free time I work on translating various maths papers into English (<a href="https://thosgood.com/translations">~/translations</a>) and manage an open-source multilingual mathematical dictionary (<a href="https://thosgood.com/maths-dictionary">~/maths-dictionary</a>).
    </li>
  </ul>

  <h4>What I've done</h4>
  <p>
    In 2020, I defended my PhD thesis (<a href="https://tel.archives-ouvertes.fr/tel-02882140">HAL:tel-02882140</a>) at the Université d'Aix-Marseille on the subject of twisting cochains in complex geometry and Chern classes of coherent analytic sheaves, supervised by <a href="http://jgrivaux.perso.math.cnrs.fr/" class="dark_link">Julien Grivaux</a> and <a href="https://imag.umontpellier.fr/~calaque/" class="dark_link">Damien Calaque</a>.
    During the final year of my PhD, I worked as part of the <a href="https://damienespadon.wixsite.com/dersympapp" class="dark_link">DerSympApp</a> project at the Université de Montpellier.
  </p>
  <p>
    In 2016 I graduated with an MMath from the University of Oxford, after having finished my BA in Mathematics there the previous year.
  </p>
  <p>For more details, see <%= link_to('~/cv', '/cv') %>.</p>
</div>
