---
title: About
katex: false
---

<div class="w-third-ns ph3-ns tl-ns tc w-100">
  <img src="/assets/images/me.jpg" class="mw-100-ns pa1 mt3 mb2 br-100 ba b--black-70 mw4">

  <h4>Current position</h4>
  <ul style="list-style-type: none;">
    <li>
      Research associate
      <br>
      <a href="https://topos.institute/">Topos Institute</a>
    </li>
    <li>
      Postdoctoral contractor
      <br>
      <a href="https://www.quantumlah.org/">Centre for Quantum Technologies</a>
    </li>
  </ul>

  <h4>Research interests</h4>
  <p class="f6">Homotopical methods in algebraic and complex geometry, simplicial category theory, translation & accessibility, quantum computing, FOSS, and birds.</p>
</div>

<div class="w-two-thirds-ns ph4-ns w-100 tj">
  <h4>What I'm doing</h4>
  <ul>
    <li>With a co-author, I'm working on understanding coherent analytic sheaves through simplicial methods.</li>
    <li>
      <a href="https://www.arturekert.com/home">Artur Ekert</a> and I are creating an online introductory course in quantum information science:
      <br>
      <a href="https://thosgood.com/quantum-info">thosgood.com/quantum-info</a>.
    </li>
    <li>
      In my free time I work on translating various maths papers into English:
      <br>
      <a href="https://thosgood.com/translations">thosgood.com/translations</a>.
    </li>
    <li>
      I manage an open-source multilingual mathematical dictionary:
      <br>
      <a href="https://thosgood.com/maths-dictionary">thosgood.com/maths-dictionary</a>.
    </li>
    <li>I'm the current organiser of the <a href="https://topos.site/topos-colloquium">Topos Institute Colloquium</a> (a "weekly" category theory seminar).</li>
    <li><i>... more things to appear soon</i></li>
  </ul>

  <h4>What I've done</h4>
  <p>
    In the summer of 2020, I defended my <a href="https://tel.archives-ouvertes.fr/tel-02882140">PhD thesis</a> at the Université d'Aix-Marseille on the subject of twisting cochains in complex geometry and Chern classes of coherent analytic sheaves, supervised by <a href="http://jgrivaux.perso.math.cnrs.fr/">Julien Grivaux</a> and <a href="https://imag.umontpellier.fr/~calaque/">Damien Calaque</a>.
    During the final year of my PhD, I worked as part of the <a href="https://damienespadon.wixsite.com/dersympapp">DerSympApp</a> project at the Université de Montpellier.
  </p>
  <p>
    I graduated with an MMath (Mathematics) from the University of Oxford in 2016, after having finished my BA in Mathematics there. During this time, I wrote <%= link_to('two theses', '/work') %>.
  </p>
  <p>For more details, see my <%= link_to('CV', '/cv') %>.</p>
</div>
