---
title: Papers
katex: false
---

<div class="mw7 flex flex-wrap lh-title">
  <div class="ph4-ns w-80-ns w-100 center">
    <h4>Articles</h4>
    <ol>
      <li>
        <span class="title">Simplicial Chern-Weil theory for coherent analytic sheaves, part I.</span>
        2020.
        <a href="https://arxiv.org/abs/2003.10023">math.AG/2003.10023</a>.
        <br>
        <span class="black-70">The first paper extracted from my PhD thesis; under submission.</span>
      </li>

      <li>
        <span class="title">Simplicial Chern-Weil theory for coherent analytic sheaves, part II.</span>
        2020.
        <a href="https://arxiv.org/abs/2003.10591">math.AG/2003.10591</a>.
        <br>
        <span class="black-70">The second paper extracted from my PhD thesis; under submission.</span>
      </li>
    </ol>
  </div>

  <div class="ph4-ns w-80-ns w-100 center">
    <h4>Theses</h4>
    <ul class="pl4">
      <li>
        <span class="title">Chern classes of coherent analytic sheaves: a simplicial approach.</span>
        2020.
        <a href="https://tel.archives-ouvertes.fr/tel-02882140">HAL/tel-02882140</a>.
        <br>
        <span class="black-70">PhD thesis; supervised by Julien Grivaux and Damien Calaque.</span>
      </li>

      <li>
        <span class="title">Under Spec Z: a reader's companion.</span>
        2016.
        <%= link_to('[PDF]', '/assets/papers/under-spec-z.pdf') %>.
        <br>
        <span class="black-70">Primary master's thesis; supervised by Kobi Kremnitzer and Christopher Hollings.</span>
      </li>

      <li>
        <span class="title">Death and extended persistence in computational algebraic topology.</span>
        2016.
        <a href="https://arxiv.org/abs/1609.00920">math.AT/1609.00920</a>.
        <br>
        <span class="black-70">Secondary master's thesis; unsupervised.</span>
      </li>
    </ul>
  </div>

  <div class="ph4-ns w-80-ns w-100 center">
    <h4>Other</h4>
    <ul class="pl4">

      <!-- <li>
        <span class="title">Twisting cochains and twisted complexes</span>
        <%= link_to('[PDF]', '/assets/papers/twisting-cochains-YTM19-handout.pdf') %>
        <span class="black-70">Slides from a talk I gave at the Young Topologists Meeting (2019) in Lausanne.</p>
      </li> -->

      <li>
        <span class="title">Robalo's introduction to infinity-categories.</span>
        <%= link_to('[PDF]', '/assets/papers/infinity-categories-robalo.pdf') %>
        <br>
        <span class="black-70">Notes on a talk given by Marco Robalo at Derived Algebraic Geometry in Toulouse (DAGIT, 2017).</span>
      </li>

      <li>
        <span class="title">Master's revision notes.</span>
        <%= link_to('[PDF]', '/assets/papers/masters-revision-sheets.pdf') %>
        <br>
        <span class="black-70">Revision notes on Oxford Part C (fourth-year MMath, 2016) courses: category theory, homological algebra, algebraic topology, algebraic geometry, and quantum information theory.</span>
      </li>

      <li>
        <span class="title">An introduction to varieties in weighted projective space.</span>
        <a href="https://arxiv.org/abs/1604.02441">math.AG/1604.02441</a>.
        <br>
        <span class="black-70">Undergraduate project (2016) supervised by Balázs Szendrői; sincere <i>caveat lector</i>.</span>
      </li>

      <li>
        <span class="title">Undergraduate (second-year) revision notes.</span>
        <br>
        <span class="black-70">Revision notes on Oxford Part A (second-year MMath, 2013) courses: <%= link_to('linear algebra', '/assets/papers/algebra-i.pdf') %>, <%= link_to('abstract algebra', '/assets/papers/algebra-ii.pdf') %>, <%= link_to('complex analysis', '/assets/papers/complex-analysis.pdf') %>, <%= link_to('differential equations', '/assets/papers/differential-equations-i.pdf') %>, <%= link_to('integration', '/assets/papers/integration.pdf') %>, and <%= link_to('metric spaces', '/assets/papers/metric-spaces.pdf') %>.</span>
      </li>
    </ul>
  </div>

  <div class="ph4-ns w-80-ns w-100 center">
    <h4>Translations</h4>
    <ul class="pl4">
      <li>
        <span class="title">Éléments de géométrie algébrique.</span>
        <a href="https://github.com/ryankeleti/ega">[GitHub]</a>.
        <br>
        <span class="black-70">Ongoing project to translate Grothendieck's EGA.</span>
      </li>
      <li>
        More: <a href="https://thosgood.com/translations/">thosgood.com/translations</a>
      </li>
    </ul>
  </div>
</div> 
