<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">

        <ul class="contact-list">

          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>

          <li>Université d&rsquo;Aix-Marseille</li>
          
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          <li>
            <a href="/assets/images/bird.jpg"><img src="/assets/icons/bird.png" height="14px"></a>
            <a href="/assets/images/snail.jpg"><img src="/assets/icons/snail.png" height="21px"></a>
            <a href="/assets/images/secret.jpg"><img src="/assets/icons/secret.png" height="21px"></a>
          </li>

        </ul>

      </div>


      <div class="footer-col footer-col-1">
      
        <ul class="social-media-list">
      
          {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}"><img class="icon" src="/assets/icons/twitter.png"><span class="backtick">Twitter</span></a></li>
          {% endif %}

          {% if site.matrix_username %}
            <li><a href="https://matrix.to/#/@{{ site.matrix_username }}"><img class="icon" src="/assets/icons/matrix.png"><span class="backtick">Matrix</span></a></li>
          {% endif %}

        </ul>

      </div>


      <div class="footer-col footer-col-1">

        <ul class="social-media-list">

          {% if site.arxiv_username %}
            <li><a href="https://arxiv.com/a/{{ site.arxiv_username }}"><img class="icon" src="/assets/icons/arxiv.png"><span class="backtick">arXiv</span></a></li>
          {% endif %}

          {% if site.orcid_id %}
            <li><a href="https://orcid.org/{{ site.orcid_id }}"><img class="icon" src="/assets/icons/orcid.png"><span class="backtick">Orcid</span></a></li>
          {% endif %}

          {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}"><img class="icon" src="/assets/icons/github.png"><span class="backtick">GitHub</span></a></li>
          {% endif %}

        </ul>

      </div>
      
    </div>

  </div>

</footer>

<script type="text/javascript">
  $("script[type='math/tex']").replaceWith(
    function(){
      var tex = $(this).text();
      return "<span class=\"inline-equation\">" + 
             katex.renderToString(tex) +
             "</span>";
  });

  $("script[type='math/tex; mode=display']").replaceWith(
    function(){
      var tex = $(this).text();
      return "<div class=\"equation\">" + 
             katex.renderToString(tex, {displayMode: true}) +
             "</div>";
  });
</script>