<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-3">

        <ul class="contact-list">

          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>

          <li>Université d&rsquo;Aix-Marseille</li>
          
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          <li>
            <a href="/assets/bird.jpg"><img src="/assets/icons/bird.png" height="14px"></a>
            <a href="/assets/snail.jpg"><img src="/assets/icons/snail.png" height="21px"></a>
            <a href="/assets/secret.jpg"><img src="/assets/icons/secret.png" height="21px"></a>
          </li>

        </ul>

      </div>


      <div class="footer-col footer-col-1">
      
        <ul class="social-media-list">
      
          {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}"><img class="icon" src="/assets/icons/twitter.png"><span class="username">Twitter</span></a></li>
          {% endif %}

          {% if site.matrix_username %}
            <li><a href="https://matrix.to/#/@{{ site.matrix_username }}"><img class="icon" src="/assets/icons/matrix.png"><span class="username">Matrix</span></a></li>
          {% endif %}

        </ul>

      </div>


      <div class="footer-col footer-col-1">

        <ul class="social-media-list">

          {% if site.arxiv_username %}
            <li><a href="https://arxiv.com/a/{{ site.arxiv_username }}"><img class="icon" src="/assets/icons/arxiv.png"><span class="username">arXiv</span></a></li>
          {% endif %}

          {% if site.orcid_id %}
            <li><a href="https://orcid.org/{{ site.orcid_id }}"><img class="icon" src="/assets/icons/orcid.png"><span class="username">Orcid</span></a></li>
          {% endif %}

          {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}"><img class="icon" src="/assets/icons/github.png"><span class="username">GitHub</span></a></li>
          {% endif %}

        </ul>

      </div>
      
    </div>

  </div>

</footer>
