<div id="header" class="h3-ns w-100 pa3 flex flex-wrap items-end bb">
  <div class="w-third-ns tl-ns pb0-ns pb2 tc w-100">
    <a href="/index.html" class="f2 link"><%= @config[:full_name] %></a>
  </div>
  <div class="w-two-thirds-ns tc w-100">
    <ol class="fr-ns list ph4 ma0">
      <li class="pr3-ns pr2 dib"><a href="/" class="link f3">About</a></li>
      <li class="ph3-ns ph2 dib"><a href="/papers" class="link f3">Papers</a></li>
      <li class="ph3-ns ph2 dib"><a href="/projects" class="link f3">Projects</a></li>
      <li class="pl3-ns pl2 dib"><a href="/blog" class="link f3">Blog</a></li>
    </ol>
  </div>
</div>
