<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tim_hosgood">
    <meta name="twitter:title" content="<%= @item[:title] %> // <%= @config[:site_name] %>">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://thosgood.com/assets/images/me.jpg">

    <title><%= @config[:site_name] %> | <%= @item[:title] %></title>

    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/citations.css">

    <link rel="stylesheet" href="/assets/css/tachyons.css">
    <link rel="stylesheet" href="/assets/katex/katex.min.css">
</head>