<script type="text/javascript" src="/assets/jquery-3.4.1.slim.min.js"></script>

<script type="text/javascript" src="/assets/katex/katex.min.js"></script>
<script type="text/javascript">
$("span[class='math inline']").replaceWith(
  function(){
    var tex = $(this).text();
    return "<span class=\"inline-equation\">" + 
           katex.renderToString(tex, {throwOnError: false}) +
           "</span>";
});

$("span[class='math display']").replaceWith(
  function(){
    var tex = $(this).text();
    return "<div class=\"equation\">" + 
           katex.renderToString(tex, {displayMode: true, fleqn: true, throwOnError: false}) +
           "</div>";
});
</script>

<script type="text/javascript">
function commentMaths() {
  commento.main((() => {
    renderMathInElement(document.getElementById('commento'), {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\[', right: '\\]', display: true},
        {left: '\\(', right: '\\)', display: false}
      ],
      throwOnError : false,
      fleqn: true
    });
  }));
}
</script>
