<div id="footer-wrapper" class="h3-ns w-100 mt3-ns mv2 flex items-center justify-center">
  <div id="footer" class="w-60-ns w-80 flex flex-wrap items-center">
    <div id="footer_bar" class="center">
      <ol class="fr-ns list ma0 pl0">
        <li class="ph2-ns ph1 dib"><a href="https://arxiv.org/a/<%= @config[:arxiv_username] %>">arXiv</a></li>
        <li class="ph2-ns ph1 dib"><a href="https://orcid.org/<%= @config[:orcid_id] %>">ORCID</a></li>
        <li class="ph2-ns ph1 dib"><a href="https://github.com/<%= @config[:github_username] %>">GitHub</a></li>
        <li class="pl2-ns pl1 dib"><a href="https://mathstodon.xyz/@<%= @config[:mastodon_username] %>">Mastodon</a></li>
      </ol>
    </div>
  </div>
</div>
