/* In blog posts */

#post-pre-content,
#post-content {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

#post-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#post-part {
  text-align: center;
  margin-top: 0;
}

#post-date {
  font-family: Courier Next, courier, monospace;
  color: #999;
  text-align: center;
  font-size: 1rem;
  margin-top: 0;
}

.tag-list {
  text-align: center;
}

#post-content strong {
  font-weight: 500;
}

#post-content code {
  font-size: 0.95em;
}

#post-content li {
  line-height: 1.5;
}

#post-content li p {
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

#post-content blockquote {
  font-style: italic;
}



/* Post navigation */

#post-nav {
  background-color: #eee;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem;
}

ul#colour-select {
  padding-left: 0px;
  margin: 0px;
}
ul#colour-select > li {
  display: inline;
}

ul#font-select {
  /*padding-left: 0px;*/
  margin: 0px;
}
ul#font-select > li {
  display: inline;
}



/* Other parts */

#post-other-parts {
  font-style: italic;
}

#post-other-parts a {
  padding: 0 3px;
}

#post-other-parts span {
  padding: 0 3px;
}



/* Headings */

#post-content h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

#post-content h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

#post-content h3 {
  font-size: 1.1rem;
  font-weight: 400;
}



/* Maths */

span.math {
  font-family: monospace;
}

#post-content .katex {
  font-size: 1.1em;
}

#post-content .fleqn {
  padding-left: 3em;
}



/* Table of contents */

ol#toc {
  margin: 2em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 10%;
}

.toc-back {
  font-size: 1.5rem;
  text-decoration: none;
  border-bottom: 1px solid #2a7ae2;;
  padding: 0px 5px;
  margin-right: -30px;
  float: left;
  position: relative;
  top: -58px;
  right: 30px;
}



/* Images */

figure {
  text-align: center;
  width: 100%;
  margin: 0;
}

figure img {
  border-radius: 0.5rem;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaa;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}



/* Footnotes */

.footnote-ref {
  text-decoration: underline;
  font-weight: bold;
}

.footnote-ref:hover {
  color: #2a7ae2;;
  background: none;
}

.footnote-ref sup {
  padding: 0px 3px;
  margin-right: -2px;
}

.footnote-ref sup:hover {
  color: #fff;
  background: #2a7ae2;;
}

.footnotes {
  font-size: 0.85rem;
  margin-top: 30px;
}

.footnotes ol li {
  font-weight: 550;
}

.footnotes ol li p {
  font-weight: 400;
  margin: 0px;
}

.footnote-back {
  font-size: 0.8rem;
  text-decoration: underline;
  padding: 0 3px;
  margin-left: 5px;
}



/* Tables */

table {
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;
  border-spacing: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #aaa;
  border-radius: 1rem;
}

th {
  font-weight: 600;
  text-align: center;
  padding: 0.75rem;

}

tr {
  text-align: left;
  background-color: #eee;
}

tr.header {
  background-color: #fff;
  border-bottom: 2px #333 solid;
}

tbody > tr:nth-child(even) {
  background-color: #fff;
}

td {
  padding: 0.75rem;
}


/* Custom environments */

.itenv,
.rmenv {
  margin: 1em 0;
  padding: 0 1em;
  text-align: justify;
  border-left: 1px dashed black;
}

.itenv {
  font-style: italic;
}
.itenv em {
  font-style: normal !important;
}

.rmenv {
  font-style: normal;
}

.itenv:before,
.rmenv:before {
  content: attr(title)".";
  font-style: normal;
  font-weight: bold;
  padding-right: 0.5em;
  display: inline;
}

.itenv > p:first-of-type,
.rmenv > p:first-of-type {
  margin-top: 0 !important;
  display: inline;
}

.itenv > :last-child,
.rmenv > :last-child {
  margin-bottom: 0 !important;
}
