/* Papers */

.citation .author:after {
  content: '.';
}

.citation .title {
  font-weight: 400;
}
.citation .title:before { content: '"'; }
.citation .title:after { content: '".'; }

.citation .journal {
  font-style: italic;
}

.citation .volume {
  font-weight: 450;
}

.citation .year:before { content: '('; }
.citation .year:after { content: '),'; }

.citation .pages:after { content: '.'; }

.citation .doi:before { content: 'DOI: '; }
.citation .doi a {
  /*color: black;*/
  /*text-decoration: none;*/
  font-weight: 400;
}

.citation .arxiv:before { content: 'arXiv: '; }
.citation .arxiv a {
  /*color: black;*/
  /*text-decoration: none;*/
  font-weight: 400;
}

.citation .hal:before { content: 'HAL: '; }
.citation .hal a {
  /*color: black;*/
  /*text-decoration: none;*/
  font-weight: 400;
}


/* Books */

.book .author:after { content: '.'; }

.book .title {
  font-style: italic;
/*  font-weight: 330;*/
}
.book .title:after { content: '.'; }

.book .publisher:after { content: ','; }

.book .series {}

.book .volume {
  font-weight: 450;
}

.book .year:before { content: '('; }
.book .year:after { content: ').'; }
