:root {
  --primary: #357edd;
}

/* Typography */

body {
  height: 100%;
  font: 1rem -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  --s: 104px; /* control the size*/
  --c1: #f6edb3;
  --c2: #9cceb5;
  --c3: #53b6b2;

  --_l:#0000 calc(25%/3),var(--c1) 0 25%,#0000 0;
  --_g:conic-gradient(from 120deg at 50% 87.5%,var(--c1) 120deg,#0000 0);
  background:
    var(--_g),var(--_g) 0 calc(var(--s)/2),
    conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
    conic-gradient(from 60deg at 75% 75%,var(--c1) 0 60deg,#0000 0),
    linear-gradient(150deg,var(--_l)) 0 calc(var(--s)/2),
    conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c1) 0 300deg,var(--c2) 0),
    linear-gradient(-150deg,var(--_l)) var(--c3);
  background-size: calc(0.866*var(--s)) var(--s);
}

/* For Postcard.html.erb */
/*#postcard_main_wrapper {
  background-color: white;
  border: 1px solid var(--primary);
  -webkit-transform: translateY(30%);
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}
#small_header_wrapper {
  border-bottom: 1px solid var(--primary);
}*/

/* For Default.html.erb */

#main_wrapper {
  background-color: white;
  border: 1px solid var(--primary);
}
#header_wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

div.content {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  div.content {
/*    width: 85%;*/
    padding: 0 2rem;
  }
}

#main strong {
  font-weight: 450;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  border-bottom: 1px solid #aaa;
}

h5 {
  font-size: 1.15rem;
  font-style: italic;
}

h6 {
  font-size: 1rem;
}

a code {
  font-family: 'Courier Next', courier, monospace;
  font-size: 1em;
}

.title {
  font-weight: 400;
}

article .katex {
  font-size: 1.1em;
}



/* Links */

a {
  text-decoration: underline;
  color: var(--primary);
  border: 1px solid transparent;
}

a:hover {
  /*color: #fff;*/
  /*background: var(--primary);*/
  /*background: #999;*/
  border: 1px dashed var(--primary);
}

.nav_link {
  text-decoration: none;
  border: 2px solid transparent;
}
.nav_link:hover {
  color: var(--primary);
  background: none;
  border: 2px solid transparent;
  border-bottom: 2px dashed var(--primary);
}

.dark_link {
  color: black;
}

.section_title_link {
  color: black;
  text-decoration: none;
}



/* Header */

#header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header span.active {
  color: var(--primary);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--primary);
}



/* Lists */

#main ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  list-style-type: circle;
  text-align: left;
}

#main ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

#main li {
  padding-bottom: 0.5rem;
  line-height: 1.5;
}

.tag-list {
  font-family: 'Courier Next', courier, monospace;
  font-size: 0.9rem;
}

.tag-list a {
  text-decoration: none;
}

li img.progress_shield {
  vertical-align: top;
}
