<div id="footer" class="h3-ns mw7 mb3 pa3 flex flex-wrap items-center center bt courier f6">
  <div class="w-two-thirds-ns w-100">
    <ul class="list pl0 ma0">
      <li>Tim Hosgood</li>
      <li>Université d'Aix-Marseille</li>
      <li><a href="mailto:<%= @config[:email] %>" ><%= @config[:email] %></a></li>
    </ul>
  </div>
  <div class="w-third-ns w-100">
    <ul class="list ph0 mv2 ph2-ns ma0-ns fr-ns">
      <li><a href="https://arxiv.org/a/<%= @config[:arxiv_username] %>" >arXiv</a></li>
      <li><a href="https://github.com/<%= @config[:github_username] %>" >GitHub</a></li>
    </ul>
    <ul class="list ph0 ma0 ph2-ns fr-ns">
      <li><a href="https://twitter.com/<%= @config[:twitter_username] %>" >Twitter</a></li>
      <li><a href="https://matrix.to/#/@<%= @config[:matrix_username] %>" >Matrix</a></li>
    </ul>
  </div>
</div>
