<div id="header" class="w-100 bb h3-ns">
  <div class="mw7 center pa3">
      <div class="w-100 tc pb2 pa0-ns mh0-ns tl-ns fl-ns w-third-ns">
        <a href="/index.html" class="f3 link black-80">Tim Hosgood</a>
      </div>

      <div class="w-100 tc mh0-ns tr-ns fl-ns w-two-thirds-ns">
        <ul class="list ph4 ma0 fr-ns">
          <li class="dib pr2 pr3-ns"><a href="/" >About</a></li>
          <li class="dib ph2 ph3-ns"><a href="/papers" >Papers</a></li>
          <li class="dib ph2 ph3-ns"><a href="/projects" >Projects</a></li>
          <li class="dib pl2 pl3-ns"><a href="/blog" >Blog</a></li>
        </ul>
      </div>
  </div>
</div>