<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.html' %>

  <body class="athelas">

    <div class="mw7 flex flex-column center">
      <%= render '/header.html' %>
      <div id="main" class="w-100 ph4 flex flex-wrap lh-copy mb2">
        <div id="post-content" class="w-two-thirds-ns w-100 ph3">
          <h1 class="small-caps tc mb2"><%= @item[:title] %></h1>
          <h6 class="f6 courier black-50 normal mv0 tc"><%= get_pretty_date(item) %></h6>
          <%= yield %>
        </div>
      </div>
      <%= render '/footer.html' %>
    </div>

    <%= render '/scripts.html' %>

  </body>
</html>
