<!DOCTYPE HTML>
<html lang="en">
  <%= render '/head.html' %>

  <body class="athelas">

    <div class="mw7 flex flex-column center">
      <%= render '/header.html' %>
      <div id="main" class="w-100 ph4 flex flex-wrap lh-copy mb2">
        <div class="w-80-ns w-100 center tc mv3">
          <p class="ma0">
            <span class="b f4">Posts tagged with </span> <span class="code f5"><%= @item[:tag] %></span>
            <a href="/blog" class="fr f4">&larr; Return to all posts</a>
          </p>
        </div>

        <% items_with_tag(@item[:tag]).sort_by {|i| Time.parse(i[:created_at].to_s)}.reverse.each do |post| %>
          <div class="center bl bb bw1 pl3 mb4 mb3-ns w-80-ns">
            <h4 class="mt0 mb2"><%= link_to post[:title], post.path %></h1>
            <span class="f6 courier black-50"><%= get_pretty_date(post) %></span>
            <article class="mb3">
              <%= get_post_before_fold(post) %>
            </article>
            <div class="tag-list pb3">
              <%= tags_for(post, base_url: '/blog/tags/', separator: ", ") %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render '/footer.html' %>
    </div>

    <%= render '/scripts.html' %>

  </body>
</html>
