<% render '/**/Default.*' do %>
  <div class="w-100">
    <div class="w-80-ns w-100 mb4 pa2 center">
      <span class="f5">Posts tagged </span> <span class="code f6"><%= @item[:tag] %></span>
      <br class="dn-ns">
      <a href="/blog" class="fr-ns f5">&larr; Return to all posts</a>
    </div>
    <% items_with_tag(@item[:tag]).sort_by {|i| Time.parse(i[:created_at].to_s)}.reverse.each do |post| %>
      <%= render '/components/post_in_list.html.erb', :post => post %>
    <% end %>
  </div>
<% end %>