/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  margin-bottom: $spacing-unit / 3;

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query($on-palm) {
    border-bottom: none;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .menu-icon {
    display: none;
  }

  .page-link {
    padding: 2px;
    color: $text-color;
    line-height: $base-line-height;
    // border-bottom: 3px solid #ffffff;

    &:hover {
      // font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid $grey-color;
    }

    &:not(:last-child) {
      margin-right: 15px;
      // padding-right: 8px;
      // margin-right: 8px;
    }
  }

  @media screen and (min-width: $on-laptop) {
    .page-link{
      display: inline-block;
      // width: $spacing-unit * 2;
      text-align: center;
    }
  }

  .page-link-active {
    font-weight: bold;
    letter-spacing: -1px;
    border-bottom: 3px solid $brand-color;
  }

  @include media-query($on-palm) {
    // position: absolute;
    // top: 5px;
    // right: $spacing-unit / 2;
    width: -webkit-calc(100% - (#{$spacing-unit} / 3));
    width:         calc(100% - (#{$spacing-unit} / 3));
    display: block;
    margin-bottom: 5px;
    margin-right: $spacing-unit/6;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: center;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      @include relative-font-size(1.25);
      display: inline;
      padding: 2px 5px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  // @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
    margin: 0px;
  }

  .footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
  }
  .social-media-list {
    margin: 2px;
  }
}



/**
 * Page content
 */
.page-content {
  // padding: $spacing-unit 0;

  @include media-query($on-laptop) {
    padding-top: 0;
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-list-heading {
    margin-bottom: $spacing-unit / 2;

    h2 {
      margin: 0px;
    }
  }

  > li {
    margin-bottom: $spacing-unit;
    padding-left: 15px;
    padding-bottom: 10px;
    border-left: 2px solid $brand-color;
    border-bottom: 1px dashed $brand-color;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 2;

  div.post-navigation {
    margin-bottom: $spacing-unit / 2;
  }
}

div.post-navigation {
  margin-top: ($spacing-unit / 2);
  overflow: hidden;

  ul {
    width: 75%;
    float: right;
    margin: 0px;

    @include media-query($on-laptop) {
      @include relative-font-size(1.5);
      width: 100%;
    }
  }

  @include media-query($on-laptop) {
    @include relative-font-size(1.25);
    text-align: center;
  }
}

.post-title {
  @include relative-font-size(2.25);
  letter-spacing: -1px;
  line-height: 1;
  margin-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 4;

  @include media-query($on-laptop) {
    @include relative-font-size(2);
  }
}

.post-date {
  color: $grey-color;
}

ol.post-toc {
    list-style-type: upper-roman;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  ul {
    margin-bottom: 10px;

    li {
        margin-bottom: 8px;

        ul li {
            margin-bottom: 3px;
        }
    }
  }

  img.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}



/**
 * Images
 */

.rounded-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}



/**
 * Page columns
 */

.page-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.page-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.page-col-l-small {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
  padding-right: $spacing-unit;
}

.page-col-r-big {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.page-col-l-half {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  padding-right: $spacing-unit;
}

.page-col-r-half {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .page-col {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Fixed pages
 */

.fixed {
    // @include relative-font-size(0.92);
}

.page-description {
  color: $grey-color;
}



/**
 * Pagination
 */

.pagination {
  padding: ($spacing-unit / 2) 0;
  text-align: center;
}

.page-number {
  padding: 0 10px;
}

.page-nav {
  padding: 5px 10px;
  border: 1px solid $grey-color-dark;

  &:hover {
    background-color: $grey-color-light;
    text-decoration: none;
  }
}

.page-nav-inactive {
  color: $grey-color;
  padding: 5px 10px;
  border: 1px solid $grey-color-light;
}



.rss-subscribe {
  text-align: center;
  font-size: $small-font-size;
}



/**
 * Tags
 */

span.tag-name {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
}

ul.tag-list {
  font-size: $small-font-size;
  list-style-type: none;
  margin-left: 0;
}

ul.tag-list li {
    display: inline;
}

ul.tag-list li a {
  color: $grey-color;
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  padding: 2px 4px;
  background-color: $grey-color-light;

  &:hover {
    background-color: $grey-color;
    color: $grey-color-light;
    text-decoration: none;
  }
}

ul.tag-cloud {
  font-size: $small-font-size;
  list-style-type: none;
  text-align: center;
  padding: 15px;
}

ul.tag-cloud li {
  display: inline;
}

ul.tag-cloud li a {
  color: $grey-color-dark;
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  padding: 2px 4px;
  background-color: $grey-color-light;

  &:hover {
    background-color: $grey-color;
    color: $grey-color-light;
    text-decoration: none;
  }
}

li#all-tags-tag a {
  font-weight: bold;
}



/**
 * Tag and category pages
 */

ul.tagged-posts {
  list-style-type: none;
}

ul.tagged-posts time {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
}




/**
 * About
 */

#about-image-column {
  text-align: center;
}

#about-image-column img {
  margin-bottom: 25px;
}

.username {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  color: $grey-color;
}

.contact-list {
  list-style-type: none;
}

.contact-list .icon {
  padding-right: 5px;
  height: 16px;
  width: 16px;
}

.contact-list .username {
  padding-left: 8px;
}


/**
 * Papers
 */

.papers-list {
    list-style-type: none;
}

.papers-description {
  font-size: $small-font-size;
}

.papers-year {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 0;
}

.papers-list li.arxiv {
  background: url("/assets/icons/arxiv.png") no-repeat;
  background-position: 0px 4px;
  background-size: 16px 16px;
  padding-left: 20px;
}

.papers-list li.github {
  background: url("/assets/icons/github.png") no-repeat left top;
  background-position: 0px 4px;
  background-size: 16px 16px;
  padding-left: 20px;
}

.icon {
  height: 16px;
  width: 16px;
  padding-left: 5px;
}
